<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml​"
xmlns:th="http://www.thymeleaf.org​"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout​">

<head>
	<meta charset="ISO-8859-1">
	<title>Usuarios</title>
	<link rel="stylesheet" th:href="@{/css/usuarios.css}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="align-center"><a th:href="@{/}"><button class="botaoNavegacao">Cadastrar Usuários</button></a></div>

	<section>
		<div class="align-center">
			<h1>Usuários cadastrados</h1>
		</div>
	
		<div class="align-center">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Email</th>
						<th>Senha</th>
						<th>Endereço</th>
						<th>Editar</th>
						<th>Remover</th>
					</tr>
				</thead>
		
				<tbody id="bodyTodosUsuarios"></tbody>
			</table>
		</div>
	</section>
	
	<script th:src="@{/js/usuarios.js}"></script>
</body>

</html>